ENVIRONMENT=development
PORT=3000

DATABASE_URL=

JWT_AUTH_SECRET=
JWT_AUTH_AUDIENCE=
JWT_AUTH_ISSUER=
JWT_AUTH_EXPIRES_IN=

JWT_REFRESH_SECRET=
JWT_REFRESH_AUDIENCE=
JWT_REFRESH_ISSUER=
JWT_REFRESH_EXPIRES_IN=

JWT_RESET_SECRET=
JWT_RESET_EXPIRES_IN=


ADMIN_NAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=

SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=


FRONTEND_URL=